.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.definition-list {
	text-align: left;
}

.dictionary h2 {
	margin: 0;
	margin-bottom: 128px;
}

.dictionary h3 {
	margin: 0;
}
.dictionary p {
	margin: 0;
}
.dictionary input {
	margin: 0;
	font-size: large;
	width: 400px;
	height: 32px;
}